# DIG528-2 remote udev rules
# Copyright (c) 2007 Jonas Fonseca <fonseca@diku.dk>
#######################################################################
# There seems to be some strange dependencies making it necessary to
# have the RUN key before the SYMLINK key to ensure that the RUN
# script is called for remove actions.

## Create /dev/remote/{platform}/{serial}/path containing the path
# We are mainly interested in getting the USB BUS path so
# anything but the actual usb_device event which defines a usable
# PHYSDEVPATH environment variable.
DEVPATH=="/class/usb_device/*", ATTRS{idVendor}=="0050", ATTRS{idProduct}=="c237", RUN+="/etc/udev/scripts/remote.sh 0050C237%s{serial} %E{PHYSDEVPATH}"

## Remove /dev/remote/{platform}/{serial}/* files
# The idVendor and idProduct attributes are not defined on some
# udev systems. Instead, catch all tty events and use a general
# device cleanup script.
DEVPATH=="/class/tty/*", ACTION=="remove", RUN+="/etc/udev/scripts/remote.sh"

## Create /dev/remote/{platform}/{serial}/tty -> as link to device
# KERNEL=="tty*"
DEVPATH=="/class/tty/*", ATTRS{idVendor}=="0050", ATTRS{idProduct}=="c237", SYMLINK+="remote/0050C237%s{serial}/tty"
